body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }
  
  h1,
  h2 {
    color: #333;
  }
  
  #streak {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  #foodInput {
    margin-bottom: 20px;
  }
  
  #foodInput select,
  #foodInput input,
  #foodInput button {
    padding: 10px;
    margin-right: 10px;
  }
  
  #dailyLog {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #foodList {
    list-style-type: none;
    padding: 0;
  }
  
  #foodList li {
    background-color: #f9f9f9;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 3px;
  }
  
  .chart-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  